<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}">
</head>
<body>
    
    <h1>HTML TABLE </h1>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Full Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {%for i in users%}
                
                
                <td>{{i ['first_name']}}</td>
                <td>{{i ['last_name']}}</td>
                <td>{{i ['first_name']}}  {{i ['last_name']}}</td>
            </tr>
            {%endfor%}
        </tbody>
      </table>
</body>
</html>